# The Docker image that will be used to build your app
image: mcr.microsoft.com/devcontainers/jekyll:2-bullseye
# Functions that should be executed before the build script is run
before_script:
  - .devcontainer/post-create.sh
pages:
  script:
    - bundle exec jekyll build -d public
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
