.footer-navigation-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-navigation-link {
  position: relative;
  width: calc(50% - 12px);
  padding: 12px;
  border: 1px solid #353940;
  border-radius: $border-radius;

  &:hover,
  &:focus {
    border-color: $link-color;
    background-color: $grey-lt-000;

    .footer-navigation-link__icon {
      color: $link-color;
    }
  }
}

.footer-navigation-link--previous {
  text-align: right;
  .footer-navigation-link__icon {
    left: $sp-5;
    transform: rotateY(180deg);
  }
}

.footer-navigation-link--next {
  margin-left: auto; // Always push to right, even if previous link does not exist
  text-align: left;

  .footer-navigation-link__icon {
    right: $sp-5;
  }
}

.footer-navigation-link__icon {
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  color: $grey-lt-300;
}

.footer-navigation-link__sublabel {
  display: block;
  font-size: $font-size-2;
  color: $grey-dk-200;
  line-height: 1.2;
}

.footer-navigation-link__label {
  display: block;
  font-size: $font-size-4;
  font-weight: 600;
}

.footer-links {
  position: relative;
  bottom: 0px;
  margin: 0 !important;
  margin-top: 10px !important;
  width: 100%;
}

.footer-hosted-with-love {
  text-align: left;
  font-size: $font-size-3;
  margin: 0 !important;
  width: fit-content;
  float: left;
  padding-top: 7px;
}

.footer-external-links {
  text-align: right;
  font-size: $font-size-3;
  margin: 0 !important;
  width: fit-content;
  float: right;
}

.footer-external-link {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  &::before {
    display: none;
  }
}

.footer-external-link + .footer-external-link {
  margin-left: $sp-5;
}
