.language-list {
  display: flex;
  align-self: center;
  list-style-type: none;
  padding: $sp-2;
  margin-bottom: 0;
}

.language-list-item {
  margin-top: 0;
  margin-bottom: 0;
}

.language-list-item+.language-list-item {
  margin-left: $sp-2;
}

.language-list-link {
  display: block;
  height: 2.5rem;
  line-height: 2.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #676b6d;
  color: #676b6d;
  align-items: center;

  &:hover {
    border-color: #0B194A;
  }

  &.active {
    font-weight: 600;
    border-color: #0B194A;
    color: $link-color;
  }
}
