.language-list {
  display: flex;
  align-self: center;
  list-style-type: none;
  padding: $sp-2;
  margin-bottom: 0;
}

.language-list-item {
  margin-top: 0;
  margin-bottom: 0;
}

.language-list-item + .language-list-item {
  margin-left: $sp-2;
}

.language-list-link {
  display: block;
  height: $nav-list-item-height;
  line-height: $nav-list-item-height;
  padding-left: $sp-6;
  padding-right: $sp-6;
  border: 1px solid transparent;
  color: inherit;

  &:hover {
    background-color: $grey-lt-000;
    border-color: $grey-lt-200;
  }

  &.active {
    font-weight: 600;
    background-color: $grey-lt-000;
    border-color: $grey-lt-300;
    color: $link-color;
  }
}
