@import "./footer_custom";
@import "./header_custom";
@import "./title";

// Site dimensions
// Double calc() is a workaround for sass/sass#2378
.main {
  @include mq(md) {
    position: relative;
    max-width: $content-width;
    margin-left: $nav-width-md;
  }

  @include mq(lg) {
    margin-left: calc(max(calc((100% - #{$nav-width + $content-width}) / 2 + #{$nav-width}), #{$nav-width}));
  }
}

// Title

.site-title {
  font-size: 24px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: #000;
  color: #fff !important;

  &:hover {
    background-image: none;
  }
}

// Navigation

.site-nav {
  padding-top: $sp-7;
}

.nav-category {
  padding-left: $sp-4;
  color: #fff;
  font-weight: bold;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  padding-left: $sp-4;
  padding-right: $sp-4;
  padding-top: $sp-1;
  padding-bottom: $sp-1;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  color: #fff;
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link:hover {
  background-image: none;
  background-color: #676b6d;
}

.nav-list .nav-list-item .nav-list-link.active,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link.active {
  background-image: none;
  background-color: #676b6d;
  border-left: 5px solid #e3006a;
}

.nav-list-expander {
  height: 2.75rem !important;
  width: 2.75rem !important;
  padding: 0.75rem !important;
  color: $grey-dk-000 !important;
}

.nav-list-expander:hover {
  background: none !important;
}

// Footer

.site-footer {
  display: none;
}

// Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: bold;
  border: none;
}

hr {
  background: #676b6d;
  color: #676b6d;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
  }

  h1 {
    font-weight: 500;
  }
}

//By RP
nav {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content-wrap {
  background: #000;
  color: #fff;
}

a,
a:visited {
  text-decoration: none;
  color: #e3006a;
  background-image: none !important;
}

a:hover {
  text-decoration: underline;
}

code {
  background: #333;
  color: #bbb;
  border: 1px solid #676b6d;
}

.search {
  background: #000;
}

input.search-input {
  background: #000 !important;
  color: #fff;
}

.highlighter-rouge {
  background-color: #333 !important;
}

body,
.side-bar {
  background: #000 !important;
}

table td,
table th {
  background: #000;
}

.search-results {
  background-color: #333;
  border: 1px solid #676b6d;
}

.search-results-list-item:hover .search-result:hover {
  background-color: #676b6d;
}

.search-result-preview {
  color: #fff;
}

.search-result-doc {
  font-weight: bold;
  color: #e3006a;
  opacity: 1 !important;
}

.search-result-section {
  color: #fff;
}

span.na {
  color: #e3006a !important;
}

//Requested By Christian Gruber
.rp_title {
  position: relative;
  bottom: 2px;
  font-size: 20px;
}
