<footer>

  <div class="container">

    <div class="row">

      <div class="col-sm">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{ site.title[page.lang] }}</h5>
              <a href="mailto:{{ site.email }}" class="card-link">{{ site.email }}</a>
            </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hilf mit!</h5>

                {% if site.github_username %}
                  {% include icon-github.html username=site.github_username repository=site.github_repository %}
                {% endif %}
              
                {% if site.twitter_username %}
                  {% include icon-twitter.html username=site.twitter_username %}
                {% endif %}
              </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Something</h5>
                {{ site.description[page.lang] }}
              </div>
        </div>
      </div>

    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>