<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- Insert Logo here -->
  </a>

  <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
    {{ site.title[page.lang] }}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            Content
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% assign pages=site.pages | where:"lang", page.lang | where:"header", false | sort:"order" %}
          {% for p in pages %}
            {% if p.title %}
              <a class="dropdown-item {% if p.url == page.url %}active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
            {% endif %}
          {% endfor %}
          <!-- separator and additional items -->
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>

      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> -->

      <!-- disabled menu item -->
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->

    </ul>

    <!-- language selector -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
            {{ site.language[page.lang] }}
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} {% for p in
          pages %}
          <a class="dropdown-item" href="{{ p.url | prepend: site.baseurl }}">{{ site.language[p.lang] }}</a>          {% endfor %}
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      {% assign pages=site.pages | where:"lang", page.lang | where:"header", true %} {%
      for p in pages %} {% if p.title %}
      <li class="nav-item">
        <a class="nav-link {% if p.url == page.url %}active{% endif %}" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>

  </div>
</nav>