<a href="https://gec.io/company/zertifizierungen/" target="_blank">
  <div style="display: flex; justify-content: space-between; padding: 16px; width: 280px">
    <img id="isoimage" src="https://s3.es1.fra.optimist.innovo.cloud/swift/v1/static/docs/iso9001.webp" alt="ISO 9001"
      style="flex-grow: 1; object-fit: contain; height: 1.5rem; ">
    <img src="https://s3.es1.fra.optimist.innovo.cloud/swift/v1/static/docs/iso27001.webp" alt="ISO 27001"
      style="flex-grow: 1; object-fit: contain; height: 1.5rem; ">
    <img
      src="https://s3.es1.fra.optimist.innovo.cloud/swift/v1/static/docs/isae-3402-t2certified-logo-cmyk1-page-001_rdax_565x282_100.webp"
      alt="ISAE 3402" style="flex-grow: 1; object-fit: contain; height: 1.5rem;">
  </div>
</a>

<script language="javascript" type="text/javascript">
  var d = new Date();
  document.getElementById("isoimage").src =
    "https://s3.es1.fra.optimist.innovo.cloud/swift/v1/static/docs/iso9001.webp?ver=" +
    d.getTime();
</script>
