<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">
                <img src="/assets/GEC_Logo_4C_cut.png" alt="" height="30" class="d-inline-block align-top" />
                {{ site.title[page.lang] }}
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar items -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% assign collections = site.collections | where_exp: "collections", "collections.label != 'posts'" %}
                    {% for collection in collections %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ collection.label }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% assign pages=site.[collection.label] | where:"lang", page.lang %}
                            {% for p in pages %}
                            {% if p.title %}
                            <a class="dropdown-item {% if p.url == page.url %}active{% endif %}"
                                href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                            {% endif %}
                            {% endfor %}

                            <!-- disabled for later use -->
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </div>
                    </li>
                    {% endfor %}


                    <!-- disabled for later use -->
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                </ul>


                <!-- language selector -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ site.language[page.lang] }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %} {% for p in pages %}
                            <a class="dropdown-item"
                                href="{{ p.url | prepend: site.baseurl }}">{{ site.language[p.lang] }}</a> {% endfor %}
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% assign pages=site.pages | where:"lang", page.lang | where:"header", true %} {% for p in pages %}
                    {% if p.title %}
                    <li class="nav-item">
                        <a class="nav-link {% if p.url == page.url %}active{% endif %}"
                            href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                    </li>
                    {% endif %} {% endfor %}
                </ul>

                <!-- Search -->
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
